$primary-dark: #467d71;
$primary-light: #1abc9c;
$dark-white: #fbfbfb;
$light-gray: rgba(#eAe5e5,0.8);
$gray: #d3d3d3;
$dark-gray: #a0a0a0;
$darker-gray: #666666;
$black: #333333;
$brown: #3c2d22;
$orange: #f4670b;
$dark-green: #31574f;
$dark-blue: #3074b7;
$light-blue: #95c9d7;
$red: #db3236;
$yellow: #f4c20d;
$green: #3cba54;
$footer-brown: #362920;
$expand-green: #e1ebe8;

.primary-dark {
  color: $primary-dark;
}

.dark-gray {
  color: $dark-gray;
}

.white {
  color: white;
}

.black {
  color: $black;
}

.orange {
  color: $orange;
}
